################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Source/.vs/One click convert after battle/FileContentIndex/005a6f1c-7d5a-421a-bfd8-c5da4cb9cd07.vsidx
/Source/.vs/One click convert after battle/FileContentIndex/597844dd-3000-4ec9-bc1f-6ae41b4a2b75.vsidx
/Source/.vs/One click convert after battle/FileContentIndex/9716cc27-d057-49db-ae5d-0f207e97e3d1.vsidx
/Source/.vs/One click convert after battle/FileContentIndex/0be0b9ba-01f1-4a74-a28d-e15a7374dcce.vsidx
